html, body {
	background-color: #fff;
	min-width: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	outline: none;
	border: 0px;
	text-decoration: none;
	line-height: 1em;
	color: #fff;
	overflow: hidden;
}

.headerskip {
	margin-top: 60px;
}

.navicon {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 30px;
}

.nava {
	text-decoration: none;
}

